<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col ion-button clear color="light" (click)='navBack();'>Back</ion-col>
        <!--<ion-col offset-20 width-20><button ion-button menuToggle><ion-icon name="menu"></ion-icon></button></ion-col>-->
        <!--<ion-col *ngIf="loginService.logged == true" ion-button clear color="light" (click)='navUpload();'>Upload</ion-col>
        <ion-col *ngIf="loginService.logged == false" ion-button clear color="light" (click)='navLogin();'>Login</ion-col>
        
        <ion-col *ngIf="loginService.logged == true" ion-button clear color="light" (click)='openUser(loginService.getUser().user_id)'>{{loginService.getUser().username}}</ion-col>-->
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>



<ion-content>


<div class = "smalltop" padding>
  <p *ngIf="omasivu==false && userloaded==true">User #{{user.user_id}}: {{user.username}}</p>
  <p *ngIf="omasivu==true">Profile</p>
</div>

 <div class="bottom">


<ion-card padding *ngIf="!omasivu">
  <ion-row>
    <ion-col>
      <p *ngIf="userloaded && user.full_name == undefined">Full name: not available</p>
      <p *ngIf="userloaded && user.full_name.length > 0">Full name: {{user.full_name}}</p>
      <p>Upload count: {{uploads.length}}</p>
    </ion-col>
  </ion-row>

</ion-card>

<ion-card >


  <div class = "uploadss" padding>
    <ion-row wrap *ngIf="omasivu==false">
      <ion-col><p >Uploads</p></ion-col>
      <ion-col right *ngIf="uploadsopen==false"><p>{{uploads.length}}</p></ion-col>
      <ion-col right *ngIf="uploadsopen==true"><p>showing {{uploadsShowingFromTo[0]}}-{{uploadsShowingFromTo[1]}}</p></ion-col>
      <ion-icon *ngIf="uploadsopen==false" name="ios-arrow-down" right (click)="uploadsopen=true"></ion-icon>
      <ion-icon *ngIf="uploadsopen==true" name="ios-arrow-up" right (click)="uploadsopen=false"></ion-icon>
    </ion-row>
    <ion-row wrap *ngIf="omasivu==true">
      <ion-col><p>Your uploads</p></ion-col>
      <ion-col right *ngIf="uploadsopen==false"><p >{{uploads.length}}</p></ion-col>
      <ion-col right *ngIf="uploadsopen==true"><p>showing {{uploadsShowingFromTo[0]}}-{{uploadsShowingFromTo[1]}}</p></ion-col>
      <ion-icon *ngIf="uploadsopen==false" name="ios-arrow-down" right (click)="uploadsopen=true"></ion-icon>
      <ion-icon *ngIf="uploadsopen==true" name="ios-arrow-up" right (click)="uploadsopen=false"></ion-icon>
    </ion-row>
  </div>

  <div class = "uploads" *ngIf="uploadsopen">
        <ion-list *ngFor="let up of uploads; let i=index">
        

          <ion-item *ngIf="i+1>=uploadsShowingFromTo[0] && i+1<= uploadsShowingFromTo[1]">

            <ion-thumbnail item-left>
              <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (up.filename | thumbnail: 'small')"  (click)= "navVideo(up.file_id, i)">
            </ion-thumbnail>
            <h2>{{up.title}}</h2>
            <p>{{up.description}}</p>
            <button (click)="editVideoInfo(i);" *ngIf="omasivu==true" ion-button clear right>Edit</button>
            <button  (click)= "navVideo(up.file_id, i)" *ngIf="omasivu==false" ion-button clear right>View</button>
            <hr>
          </ion-item>


      </ion-list>
        <ion-row>
           <div *ngFor="let j of array; let in = index">
             <ion-col>
             <ul class="page-container">
              <li *ngIf="currentPage != in" class="page"><a (click)="pageLink(in);">{{in+1}}</a></li>
              <li *ngIf="currentPage == in" class="curpage"><a (click)="pageLink(in);">{{in+1}}</a></li>
            </ul>
            </ion-col>
          </div>
          </ion-row>
  </div>
</ion-card>



<ion-card *ngIf="omasivu">
  <div class = "favouritess" padding>
    <ion-row wrap *ngIf="omasivu==false">
      <ion-col><p >Favourites</p></ion-col>
      <ion-col right *ngIf="favouritesopen==false"><p>{{favourites.length}}</p></ion-col>
      <ion-col right *ngIf="favouritesopen==true"><p>showing {{favouritesShowingFromTo[0]}}-{{favouritesShowingFromTo[1]}}</p></ion-col>
      <ion-icon *ngIf="favouritesopen==false" name="ios-arrow-down" right (click)="favouritesopen=true"></ion-icon>
      <ion-icon *ngIf="favouritesopen==true" name="ios-arrow-up" right (click)="favouritesopen=false"></ion-icon>
    </ion-row>
    <ion-row wrap *ngIf="omasivu==true">
      <ion-col><p>Your favourites</p></ion-col>
      <ion-col right *ngIf="favouritesopen==false"><p >{{favourites.length}}</p></ion-col>
      <ion-col right *ngIf="favouritesopen==true"><p>showing {{favouritesShowingFromTo[0]}}-{{favouritesShowingFromTo[1]}}</p></ion-col>
      <ion-icon *ngIf="favouritesopen==false" name="ios-arrow-down" right (click)="favouritesopen=true"></ion-icon>
      <ion-icon *ngIf="favouritesopen==true" name="ios-arrow-up" right (click)="favouritesopen=false"></ion-icon>
    </ion-row>
  </div>

  <div class = "favourites" *ngIf="favouritesopen">
        <ion-list *ngFor="let f of favourites; let i=index">
        

          <ion-item *ngIf="i+1>=favouritesShowingFromTo[0] && i+1<= favouritesShowingFromTo[1]">

            <ion-thumbnail item-left>
              <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (f.filename | thumbnail: 'small')"  (click)= "navVideo(f.file_id, i)">
            </ion-thumbnail>
            <h2>{{f.title}}</h2>
            <p>{{f.description}}</p>
            <button  (click)= "navVideo(f.file_id, i)" ion-button clear right>View</button>
            <hr>
          </ion-item>


      </ion-list>
        <ion-row>
           <div *ngFor="let j of array2; let in = index">
             <ion-col>
             <ul class="page-container">
              <li *ngIf="currentPage2 != in" class="page"><a (click)="pageLinkFavourites(in);">{{in+1}}</a></li>
              <li *ngIf="currentPage2 == in" class="curpage"><a (click)="pageLinkFavourites(in);">{{in+1}}</a></li>
            </ul>
            </ion-col>
          </div>
          </ion-row>
  </div>
</ion-card>

<ion-card >


  <div *ngIf="omasivu" class = "editt" padding>
    <ion-row wrap >
      <ion-col><p>Edit your credentials</p></ion-col>
      <ion-icon *ngIf="editcred==false" name="ios-arrow-down" right (click)="editcred=true"></ion-icon>
      <ion-icon *ngIf="editcred==true" name="ios-arrow-up" right (click)="editcred=false"></ion-icon>
    </ion-row>
  </div>

  <div class = "edit" *ngIf="editcred">
                    <ion-card padding>

              <ion-card-content>
                <ion-card-title>
                  #{{user.user_id}}: {{user.username}}
                </ion-card-title>
              </ion-card-content>


<form #formi="ngForm" (ngSubmit)="changecreds(); this.formi.reset()">
              <ion-item>
                 <ion-label stacked clear color="favorite">Enter new password:</ion-label>
                  <ion-input name="password" type="password" [(ngModel)]="change.password" ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked clear color="favorite">Enter new email:</ion-label>
                  <ion-input name="email" type="email" [(ngModel)]="change.email" ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked clear color="favorite">Enter current password:</ion-label>
                  <ion-input name="currentpassword" type="password" [(ngModel)]="change.currentpassword" required></ion-input>
              </ion-item>
                <ion-item>
                  <button class="confirm" type="submit" ion-button block >Change stuff</button>
                </ion-item>
</form>

                <ion-item *ngIf="pwdsu">
                  <p>password changed succesfully</p>
                </ion-item>

                <ion-item *ngIf="emailsu">
                  <p>email changed succesfully</p>
                </ion-item>
            </ion-card>
            
  </div>
</ion-card>


  
</div>

</ion-content>
