page-profile {
.seg.segment-button {
   /* border-style:solid ; 
    border-color: black; */
    background-color: #F2D383;
    width: 50%;
    height: 100%;
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}


.confirm{
    color: #f4f4f4;
    background-color: #606060;
    font-size: 175%;
    padding: 20px 6px;
}
}
.gallery {
    display:inline-block;
}
.galleryitem {
    display:block;
}



.page {

    display: inline;
}
.curpage {

        background-color: #F2D383;

    
    display: inline;
}
.page-container {
    list-style-type: none;
    display:inline-block;
}