page-home {

}

@media screen and (max-width: 425px) {
    a {
        font-size: small;
    }
    .bottom {
        padding-left:0px;
        padding-right:0px;
    }

}

@media  screen and (min-width: 700px) {
.item-md {
    padding-left: 0px;
    width:400px;
    margin: 0 auto;
}
}

/*@media screen and (max-width: 567px) {
    .cat5, .cat6, .cat7, .cat8 {
        display: none;
    }
}*/

@media screen and (min-width: 641px) {
    .top {
        padding-left:5%;
        padding-right:5%;
        margin-left:10%;
        margin-right: 10%; 
    }
    .bottom {
        margin-left:10%;
        margin-right: 10%; 
    }
    .smalltop{
        padding-left:5%;
        padding-right:5%;
        margin-left:10%;
        margin-right: 10%; 
    }
    

}

a {
    font-size: 100%;
    color: #427c69;
}

.top {
    padding-top:1%;
    background-color: #F2D383;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #D2B579;
}
.md .menu-inner {
    background-color: seashell;
}
.smalltop {
    margin:0;
    padding-top:1%;
    background-color: #F2D383;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #D2B579;
    font-size: 175%;
    padding-left:0%;
}

.bottom{
    padding-left: 0%;
    padding-right: 0%;
    margin:0;

    background-color: gray;
    padding-top:1%;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #606060;
}

.video {
    width: 100%;
    height: 100%;
}

.cat1 {
 /*   float: left; */
    border: solid;
    border-color: #606060;
    background-color: #819cba;

}

.cat2{
/*  float: center; */
    border: solid;
    border-color: #606060;
    background-color: #56779b;
}

.cat3{
/*    float: center; */
    border: solid;
    border-color: #606060;
    background-color: #C37247;
}
.cat4{
/*    float: right; */
    border: solid;
    border-color: #606060;
    background-color: #64aa3e;
}

.cat5 {
 /*   float: left; */
    border: solid;
    border-color: #606060;
    background-color: #819cba;
}

.cat6 {
 /*   float: left; */
    border: solid;
    border-color: #606060;
    background-color: #819cba;
}
.cat7 {
 /*   float: left; */
    border: solid;
    border-color: #606060;
    background-color: #819cba;
}

.cat0 {
 /*   float: left; */
    border: solid;
    border-color: #606060;
    background-color: #aa8b32;
} 

 .info {
//     background-color: #b0b0b9;
//     margin-bottom: 40px; //does not work
 }

.grid {
    padding-left: 20px;
}

.list.list-md {
    margin: 0 auto;
    width:95%;

}

.item-md {
    margin: 0 auto;
    padding-left: 0px;
}


.label.label-md {
    margin: 0;
}

.toolbar.toolbar-md {
    height: 5px;
}

.content.content-md {
    background-color: #8E8E8E;
}

.card.card-md {
    background-color: #fff;
    
}

.item-inner {
    border-bottom: 0px;
}


button:hover {
    background-color: #BFA6A8;
}

video {
 
}

.tag-container {
 
        border:none;
        padding:0; margin:0;
  p {
      
      
      border:none;
      display: inline-block;

  }
  span {      padding:5px;
      margin:5px;color:white;}
}

.tag {
    padding:0px; margin:10px;
  display: block;
  background-color: #49c6be;
  color: white;
}