<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col ion-button clear color="light" (click)='navHome();'>Back</ion-col>
        <!--<button ion-button menuToggle><ion-icon name="menu"></button>-->
        <!--<ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='navUpload();'>Upload</ion-col>
        <ion-col *ngIf="loginservice.logged == false" ion-button clear color="light" (click)='navLogin();'>Login</ion-col>
        <ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='openUser(loginservice.getUser().user_id);'>{{loginservice.getUser().username}}</ion-col>
        <ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='navLogout();'>Logout</ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar no-border-top color="androidprimary">
      <ion-searchbar [(ngModel)]="searchQuery" (change)="search($event)" autocorrect="off"
      [showCancelButton]="shouldShowCancel"
      (ionCancel)="onCancel($event)">
      </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" (ionChange)="tabchange(tab)">
      <ion-segment-button value="videos">
        Videos
      </ion-segment-button>
      <ion-segment-button value="tag">
        Tag
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
    <div class="topsearch" *ngIf="nostuff != 0">
    <ion-grid>
      <ion-row wrap>
        <p col *ngIf="nostuff==1 && tab=='videos'">keyword {{searchQuery}}</p>
        <p col *ngIf="nostuff==1 && tab=='tag'">tag {{searchQuery}}</p>
        <p col *ngIf="nostuff==2">nothing found</p>
      </ion-row>
    </ion-grid>
  </div>

<div class="bottom" *ngIf="media.length > 0">

  <div [ngSwitch]="tab">

    <ion-list *ngSwitchCase="'videos'" >


           <ion-item  *ngFor="let m of media; let i = index;" class="item-text-wrap">
            <ion-card>
              <video  loop class="video" [poster]="'http://media.mw.metropolia.fi/wbma/uploads/' + (m.filename | thumbnail: 'medium')" onclick="this.paused?this.play():this.pause();">
                <source type="video/mp4" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + m.filename">
              </video>
              <ion-card-content >
                <ion-card-title>{{m.title}}</ion-card-title>
                <div *ngIf="mediaInfo[i] !== null" class="info">
                    <div *ngIf="loginservice.logged">user: {{mediaInfo[i].user.username}}</div>
                    <br>
                    <div *ngIf="media[i].description != ''">{{m.description}}</div> 
                </div>
              </ion-card-content>

          <!--<ion-item  *ngFor="let m of media">
            <ion-card>
              <img class="video" [alt]="m.title" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (m.filename | thumbnail: 'medium')">
              <ion-card-content>
                <ion-card-title>{{m.title}}</ion-card-title>
                <p class="info">Description of the video </p>
              </ion-card-content>-->

              <ion-row no-padding>
                <ion-col>
                  <button ion-button clear small color="favorite" (click)="addFav(m.file_id, i)" icon-left>
                    <ion-icon name='thumbs-up'></ion-icon>
                      favs: {{mediaInfo[i].likes.length}}
                  </button>
                </ion-col>
                <ion-col text-center>
                  <button ion-button clear small color="favorite" (click)="navVideo(m.file_id, i)" icon-left>
                    <ion-icon name='chatbubbles'></ion-icon>
                   Comments: {{mediaInfo[i].comments.length}}
                   </button>
                </ion-col>
                <ion-col text-right>
                  <button ion-button clear small color="favorite" (click)="navVideo(m.file_id, i)" icon-left>
                    <ion-icon name='more'></ion-icon>
                    More
                  </button>
                </ion-col>
              </ion-row>

              <ion-row no-padding>
                    <div class="tag-container">
                      <p *ngFor="let tagarray of mediaInfo[i].tags | slice:1">
                        <span class="tag" (click) = 'chooseCat(tagarray.tag)'>
                          {{ tagarray.tag }}
                        </span>
                      </p>
                    </div>
            </ion-row>


            </ion-card>
          </ion-item>



  </ion-list>



    <ion-list *ngSwitchCase="'tag'">

           <ion-item  *ngFor="let m of media; let i = index;" class="item-text-wrap">
            <ion-card>
              <video  loop class="video" [poster]="'http://media.mw.metropolia.fi/wbma/uploads/' + (m.filename | thumbnail: 'medium')" onclick="this.paused?this.play():this.pause();">
                <source type="video/mp4" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + m.filename">
              </video>
              <ion-card-content >
                <ion-card-title>{{m.title}}</ion-card-title>
                <div *ngIf="mediaInfo[i] !== null" class="info">
                    <div *ngIf="loginservice.logged">user: {{mediaInfo[i].user.username}}</div>
                    <br>
                    <div *ngIf="media[i].description != ''">desc: {{m.description}}</div> 
                </div>
              </ion-card-content>

          <!--<ion-item  *ngFor="let m of media">
            <ion-card>
              <img class="video" [alt]="m.title" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (m.filename | thumbnail: 'medium')">
              <ion-card-content>
                <ion-card-title>{{m.title}}</ion-card-title>
                <p class="info">Description of the video </p>
              </ion-card-content>-->

              <ion-row no-padding>
                <ion-col>
                  <button ion-button clear small color="favorite" (click)="addFav(m.file_id, i)" icon-left>
                    <ion-icon name='thumbs-up'></ion-icon>
                      favs: {{mediaInfo[i].likes.length}}
                  </button>
                </ion-col>
                <ion-col text-center>
                  <button ion-button clear small color="favorite" (click)="navVideo(m.file_id, i)" icon-left>
                    <ion-icon name='chatbubbles'></ion-icon>
                   Comments: {{mediaInfo[i].comments.length}}
                   </button>
                </ion-col>
                <ion-col text-right>
                  <button ion-button clear small color="favorite" (click)="navVideo(m.file_id, i)" icon-left>
                    <ion-icon name='more'></ion-icon>
                    More
                  </button>
                </ion-col>
              </ion-row>

              <ion-row no-padding>
                    <div class="tag-container" *ngIf="mediaInfo[i].tags.length>1">
                      <p *ngFor="let tagarray of mediaInfo[i].tags | slice:1">
                        <span class="tag" (click) = 'chooseCat(tagarray.tag)'>
                          {{ tagarray.tag }}
                        </span>
                      </p>
                    </div>
            </ion-row>


            </ion-card>
          </ion-item>
   
    </ion-list>
  </div>
  </div>
</ion-content>