<ion-header>
<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col ion-button clear color="light" (click)='navHome();' >ByteSize</ion-col>
      <!--<ion-col offset-20 width-20><button ion-button menuToggle><ion-icon name="menu"></ion-icon></button></ion-col>-->
      <!--<ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='openUser(loginservice.getUser().user_id);'>{{loginservice.getUser().username}}</ion-col>
      <ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='loginservice.logout()'>Logout</ion-col>-->
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content color="light" padding>


<form #uploadForm="ngForm" (ngSubmit)="upload(uploadForm.value)">



  <ion-label ion-text color="favorite">File:</ion-label>
  <ion-icon name="film"></ion-icon>
  <ion-item>
  <button class="filebutton" type="file" (click)="selectVideo()" block>Select video...</button>
  <!--<ion-input type="file" placeholder="upload file..." name="file" ngModel />-->
  <p *ngIf="filename">Filename: {{filename}}</p>
  </ion-item>

  <ion-item>
  <ion-label ion-text color="favorite">Title:</ion-label>
  <ion-input type="text" name="title" ngModel required></ion-input>
  </ion-item>

 <ion-item>
  <ion-label ion-text color="favorite">Description:</ion-label>
  <ion-input type="text" name="desc" ngModel></ion-input>
 </ion-item>

<!-- Keeps crashing, but it looks better :-)
<ion-item>
<ion-label ion-text color="favorite">Tags:</ion-label>
<ion-input type="text" name="tag" [(ngModel)]="tagi"></ion-input>       
</ion-item>
<ion-item>
   <button ion-button icon-only item-right (click)="addTag(tagi)"> 
     <ion-icon name="addtag"></ion-icon>
    </button>
</ion-item>-->
<ion-item>

  <ion-label color="favorite">Tags:</ion-label>
  <ion-input type="text" name="tag" [(ngModel)]="tagi" autocapitalize="none"></ion-input>

</ion-item>  <div type="button" class="tagbutton" icon="ion-plus" name="addtag" (click)="addTag(tagi)" right><p>add tag</p></div>
   

  <div class="tag-container">
      <span class="tag" *ngFor="let tag of tags; let i = index">
        {{ tag }}
        <ion-icon name="close" (click)="deleteTag(tag)"></ion-icon>
      </span>
   
    <div *ngIf="tagerror == true"><p>max 10 tags pls</p></div>
    </div>
 

  <ion-item>
  <button class="filebutton" type="submit" [disabled]="!uploadForm.valid" block>Upload!</button>
  </ion-item>
</form>

  <!--upattu: {{upattu}}-->

  <h4 padding>Progress: {{progress}}%</h4>

</ion-content>