page-upload {
.filebutton {
    border-style:solid ; 
    border-color: black;
    color: #f4f4f4;
    background-color:  #606060;
    font-size: 150%
    border solid black;
    padding: 20px 6px;
}
.tagbutton {
    
    border-style:solid ; 
    color: #f4f4f4;
    background-color:  #606060;
    width:20%;
    margin-top:5px;
    margin-right:5px;
    float:right;
    text-align: center;
}
.scroll-content{
  background-color: #f4f4f4;
}
.tag-container {
  min-height:40px;
  width:70%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.tag {
  display: inline-block;
  background-color: #49c6be;
  color: white;
  margin: 5px 5px;
  padding: 2px 5px;
}
}
