<!--
  Generated template for the Video page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col ion-button clear color="light" (click)='navBack();'>Back</ion-col>
        <!--<button ion-button menuToggle><ion-icon name="menu"></button>-->
        <!--<ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='navUpload();'>Upload</ion-col>
        <ion-col *ngIf="loginservice.logged == false" ion-button clear color="light" (click)='navLogin();'>Login</ion-col>
        <ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='openUser(loginservice.getUser().user_id);'>{{loginservice.getUser().username}}</ion-col>
        <ion-col *ngIf="loginservice.logged == true" ion-button clear color="light" (click)='navLogout();'>Logout</ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content no-padding>

  <div class="smalltop">
    <ion-row padding>
  
        <p>{{media.title}}<br>
          by: <a (click)="openUser(user.user_id)">{{user.username}}</a>
        </p>
 
    </ion-row>
  </div>

<div class="bottom">
  <div *ngIf="data">
  <ion-card *ngIf="media">
    <video loop class="video" [poster]="'http://media.mw.metropolia.fi/wbma/uploads/' + (media.filename | thumbnail: 'medium')" onclick="this.paused?this.play():this.pause();">
      <source type="video/mp4" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + media.filename">
      <!--<img [src]= "'http://media.mw.metropolia.fi/wbma/uploads/80d2344ac4910fa59994e3b7f2256ab2.jpg'">-->
    </video>
    <ion-card-content>
      <div class="info">
        <div>{{media.description}}</div>
        <br>



                <ion-row no-padding>
                    <div class="tag-container" *ngIf="tags">
                      <p *ngFor="let tagarray of tags | slice:1">
                        <span class="tag" (click) = 'chooseCat(tagarray.tag)'>
                          {{ tagarray.tag }}
                        </span>
                      </p>
                    </div>
            </ion-row>


        <div>
          <hr>
          <p>Comments</p>
        <div *ngFor="let comment of comments; let j = index;">
          <ion-list>

            <ion-item class="commen" padding-bottom (click)="openUser(comment.user_id);">
              <ion-row class="ylarivi">
                <ion-col >
                {{comment.username}}</ion-col> <ion-col right>{{comment.time_added}}</ion-col>
              </ion-row>
              <ion-row class="alarivi" >
                &nbsp;{{comment.comment}}
              </ion-row>
            </ion-item>
          </ion-list>
        </div>

          <form #commentForm="ngForm" (ngSubmit)="comment(media.file_id, commentForm.value); this.commentForm.reset()">
            <ion-item>
              <ion-label>Comment:</ion-label>
              <ion-input type="text" name="comment" ngModel required></ion-input>
            </ion-item>
            <button ion-button type="submit" [disabled]="!commentForm.valid">Submit</button>
          </form>
        </div>

      </div>
    </ion-card-content>
  </ion-card>

  
  </div>
</div>

</ion-content>